<!DOCTYPE html>
<html>
  <head>
    <title>WalkAMile</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link rel="shortcut icon" href=<%=image_url('favicon.ico') %> /> 
  </head>

  <body>

    <%= yield %>

  </body>
</html>
